$font-family: Tahoma;
$font-size: 24px;
$primary_light: rgb(143, 233, 176);
$primary_dark: rgb(3, 53, 34);
body{
    font-family: $font-family;
    font-size: $font-size;
}

nav
{
    ul {
        list-style: none;
        display: flex;  
        padding: 0px;
        flex-wrap: wrap;
        
    }
    ul:hover{
        color: $primary_dark;
    }
    li{
        flex-grow: 1;
        background-color: $primary_light;
        border: 2px solid $primary_dark;
        text-align: center;
        
        
    }
    li:hover{
        background-color: $primary_dark;
        color: $primary_dark;
        transition: 1s;
    }
    li:hover a{
        color: $primary_light;
    }
    a{
        text-decoration: none;
        color: $primary_dark;

    }
    
} 
main{
    h1{
        color: $primary_dark;
    }
}