
html, body{ 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    width: 70%;
    height: 80%;
    background-color: aqua;
    margin: auto;
    margin-top: 5%;
    display: grid;
    /* grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1pr); */
    /* row-gap: 30px;
    column-gap: 10px; */
    gap: 10px 10px;
    /* area */
    grid-template-areas: 
    "header header header header"
    "menu menu menu menu"
    "tab1 tab2 tab3 tab4"
    "content content content banner1 "
    "content content content banner2 ";
}

.item-1{
    background-color: blanchedalmond;
    grid-column: 1/4;
    grid-area: header;
}
.item-2{
    background-color: rgb(163, 123, 62);
    grid-area: menu;
}

.item-3{
    background-color: rgb(24, 21, 16);
    grid-area: tab1;
}

.item-4{
    background-color: rgb(140, 190, 190);
    grid-area: tab2;
}
.item-5{
    background-color: rgb(61, 167, 39);
    grid-area: tab3;
}
.item-6{
    background-color: rgb(82, 10, 66);
    grid-area: tab4;
}
.item-7{
    background-color: cornflowerblue;
    grid-area: content;
}
.item-8{
    background-color: cornsilk;
    grid-area: banner1;
}
.item-9{
    background-color: darkgray;
    grid-area: banner2;
}